@charset "UTF-8";
/**
 * Reset CSS
 * http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain)
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * Alerts
 */
/**
 * Boards
 */
/**
 * Buttons
 */
/**
 * NavBar
 */
/**
 * Typo
 */
body {
  font-size: 17px;
  font-family: Tahoma, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: Arial, sans-serif;
  font-weight: bolder;
  margin: 20px 1%; }

h1 {
  font-size: 5rem; }
  h1 small {
    font-size: 0.4em; }

h2 {
  font-size: 4.2rem; }
  h2 small {
    font-size: 0.4em; }

h3 {
  font-size: 3.5rem; }
  h3 small {
    font-size: 0.4em; }

h4 {
  font-size: 3rem; }
  h4 small {
    font-size: 0.4em; }

h5 {
  font-size: 2.5rem; }
  h5 small {
    font-size: 0.4em; }

h6 {
  font-size: 2rem; }
  h6 small {
    font-size: 0.4em; }

.subTl, h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  color: #ababab;
  display: block;
  font-style: italic;
  font-weight: normal; }

h1 + .subTl, h1 h1 + small, h2 h1 + small, h3 h1 + small, h4 h1 + small, h5 h1 + small, h6 h1 + small {
  font-size: 2rem; }

h2 + .subTl, h1 h2 + small, h2 h2 + small, h3 h2 + small, h4 h2 + small, h5 h2 + small, h6 h2 + small {
  font-size: 1.7rem; }

h3 + .subTl, h1 h3 + small, h2 h3 + small, h3 h3 + small, h4 h3 + small, h5 h3 + small, h6 h3 + small {
  font-size: 1.4rem; }

h4 + .subTl, h1 h4 + small, h2 h4 + small, h3 h4 + small, h4 h4 + small, h5 h4 + small, h6 h4 + small {
  font-size: 1.2rem; }

h5 + .subTl, h1 h5 + small, h2 h5 + small, h3 h5 + small, h4 h5 + small, h5 h5 + small, h6 h5 + small {
  font-size: 1rem; }

h6 + .subTl, h1 h6 + small, h2 h6 + small, h3 h6 + small, h4 h6 + small, h5 h6 + small, h6 h6 + small {
  font-size: 0.8rem; }

p {
  margin-bottom: 10px;
  padding: 5px; }

mark {
  background-color: yellow; }

del, ins {
  font-style: italic; }

del {
  color: red;
  text-decoration: line-through red; }

ins {
  color: green;
  text-decoration: underline green; }

u {
  text-decoration: underline; }

strong {
  font-weight: bold; }

em {
  font-weight: bolder;
  text-decoration: underline double; }

abbr {
  text-decoration: underline dotted; }

.alignRight {
  text-align: right; }

.alignLeft {
  text-align: left; }

.alignCenter {
  text-align: center; }

.alignJustify {
  text-align: justify; }

.uppercase {
  text-transform: uppercase; }

.lowercase {
  text-transform: lowercase; }

ul {
  padding-left: 30px;
  padding-bottom: 10px;
  list-style-type: disc; }

.ulSquare {
  list-style-type: square; }

.ulWithoutDeco {
  list-style: none; }

blockquote:before, blockquote:after {
  font-size: 20px;
  vertical-align: -6px; }

blockquote, code, pre {
  font-size: 15px;
  margin: 10px 50px; }

blockquote {
  font-style: italic; }
  blockquote:before {
    content: "“";
    margin-right: 5px; }
  blockquote:after {
    content: "”"; }

code {
  font-family: "Courier New",Consolas;
  background-color: black;
  color: white;
  display: block;
  padding: 20px; }

pre {
  color: blue; }

kbd {
  border: solid black 2px;
  padding: 4px;
  font-size: 12px;
  margin: 0 5px; }

table {
  border: 4px solid black;
  margin: 20px;
  width: 90%;
  text-align: center; }

th, td {
  border: 2px solid black; }

.notCompleteTable, .notCompleteTable > tr, .notCompleteTable > th {
  border-top: none; }

.notCompleteTable, .notCompleteTable > td, .notCompleteTable > tr {
  border-bottom: none; }

.notCompleteTable, .notCompleteTable > td, .notCompleteTable > tr, .notCompleteTable > th {
  border-right: none;
  border-left: none; }

th {
  padding: 10px;
  background-color: dodgerblue;
  font-size: 18px; }

td {
  padding: 10px;
  font-size: 16px; }

tr {
  border: solid black; }

.alternateTable tr:nth-child(2n) {
  background-color: red; }

.hoverLine:hover {
  background-color: gray;
  color: white;
  font-size: 17px; }

.btn {
  background-color: #1E90FF;
  color: white;
  border-radius: 20px;
  padding: 40px 80px;
  font-size: 15px;
  text-align: center;
  margin: 10px 5px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none; }
  .btn:hover {
    background-color: #51a9ff; }
  .btn:active {
    transform: translateY(5px); }

.btnSmall {
  background-color: #1E90FF;
  color: white;
  border-radius: 20px;
  padding: 25px 50px;
  font-size: 10px; }

.btnLarge {
  background-color: #1E90FF;
  color: white;
  border-radius: 20px;
  padding: 75px 120px;
  font-size: 30px; }

.btnRed {
  background-color: #FF0000;
  color: white;
  border-radius: 20px;
  padding: 40px 80px; }
  .btnRed:hover {
    background-color: #ff6666; }

.btnYellow {
  background-color: #ffe700;
  color: white;
  border-radius: 20px;
  padding: 40px 80px;
  color: black; }
  .btnYellow:hover {
    background-color: #fff166; }

.btnGreen {
  background-color: #008000;
  color: white;
  border-radius: 20px;
  padding: 40px 80px; }
  .btnGreen:hover {
    background-color: #00e600;
    color: black; }

.btnFlat {
  background-color: black;
  color: white;
  border-radius: 0;
  padding: 40px 80px;
  box-shadow: none; }
  .btnFlat:hover {
    background-color: darkslategrey; }
  .btnFlat:active {
    transform: translateY(2.5px); }

.btnExtraLarge {
  background-color: #1E90FF;
  color: white;
  border-radius: 20px;
  padding: 75px 120px;
  width: 98%;
  font-size: 20px;
  font-weight: bold;
  display: block; }

.btnFancy {
  background-color: #1E90FF;
  color: white;
  border-radius: 20px;
  padding: 40px 80px;
  background: linear-gradient(to top right, blue, green, yellow, red);
  box-shadow: 5px 5px 0 #bdbdbd; }
  .btnFancy:hover {
    background: linear-gradient(to top right, rgba(0, 0, 255, 0.7), rgba(0, 128, 0, 0.7), rgba(255, 255, 0, 0.7), rgba(255, 0, 0, 0.7)); }
  .btnFancy:active {
    box-shadow: none; }

.alert, .alertInfo, .alertSuccess, .alertWarning, .alertDang {
  width: 95%;
  font-size: 20px;
  font-weight: bolder;
  text-align: left;
  border: solid;
  margin: 10px 5px;
  padding: 15px; }

.alertInfo {
  background-color: yellow;
  height: 35px; }

.alertSuccess {
  background-color: green;
  height: 35px; }

.alertWarning {
  background-color: orange;
  height: 35px; }

.alertDang {
  background-color: red;
  height: 40px; }

.navbar, .breadcrumb, .pagination {
  list-style: none;
  display: flex; }

.navbar {
  height: 50px;
  margin: 0 0 40px 0;
  padding: 0; }
  @media (max-width: 650px) {
    .navbar {
      display: inline-block;
      width: 100%; } }
  @media (max-width: 650px) {
    .navbar li {
      width: 98%;
      padding-top: 20px;
      height: 40px; } }
  .navbar li:hover {
    background-color: #666666;
    color: white; }

.navbar li, .pagination li {
  border: solid white 1px;
  text-align: center;
  padding-top: 10px;
  width: 20%;
  min-width: 20px; }

.disabled {
  color: white;
  background-color: black; }

.active {
  color: black;
  background-color: white; }

.breadcrumb {
  background-color: black;
  padding: 10px;
  color: #1e6ed9; }
  .breadcrumb li {
    margin-left: 15px; }
    .breadcrumb li:hover {
      text-decoration: underline; }
    .breadcrumb li a {
      color: white;
      text-decoration: none; }
  .breadcrumb li + li:before {
    content: "/";
    color: white;
    padding-right: 10px; }

.pagination {
  height: 50px;
  margin: 40px 40%; }
  .pagination a {
    text-decoration: none;
    color: #2f4bff; }
  .pagination li:hover {
    background-color: #666666;
    color: white; }

/*# sourceMappingURL=main.css.map */
