$colorInfo: yellow;
$colorSuccess: green;
$colorWarn: orange;
$colorDang: red;

$alertHeight: 35px;

.alert{
  width: 95%;
  font-size: 20px;
  font-weight: bolder;
  text-align: left;
  height:$alertHeight;
  border:solid;
  margin: 10px 5px;
  padding: 15px;
}

.alertInfo{
  @extend .alert;
  background-color: $colorInfo;
}

.alertSuccess{
  @extend .alert;
  background-color: $colorSuccess;
}

.alertWarning{
  @extend .alert;
  background-color: $colorWarn;
}

.alertDang{
  @extend .alert;
  background-color: $colorDang;
}