.alert{
  width: 95%;
  font-size: 20px;
  font-weight: bolder;
  text-align: left;
  border:solid;
  margin: 10px 5px;
  padding: 15px;
}

@mixin alert($backgdColor, $height:$alertHeight){
  background-color: $backgdColor;
  height:$height
}

.alertInfo{
  @extend .alert;
  @include alert($colorInfo);
}

.alertSuccess{
  @extend .alert;
  @include alert($colorSuccess);
}

.alertWarning{
  @extend .alert;
  @include alert($colorWarn);
}

.alertDang{
  @extend .alert;
  @include alert($colorDang, 40px);
}