$backgdColorButton: #1E90FF;

$backgdColorButtonRed: #FF0000;
$backgdColorButtonYellow: #ffe700;
$backgdColorButtonGreen: #008000;

$translateButtonClic: 5px;

.btn{
  font-size: 15px;
  padding: 40px 80px;
  text-align: center;
  margin: 10px 5px;
  background-color: $backgdColorButton;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  box-shadow: 5px 5px 0 #bdbdbd;
  &:hover{
    background-color: lighten($backgdColorButton,10);
    box-shadow: none;
  }
  &:active{
    transform: translateY($translateButtonClic);
  }
}

.btnSmall{
  font-size: 10px;
  padding: 25px 50px;
}

.btnLarge{
  font-size: 30px;
  padding:75px 120px;
}

.btnRed{
  background-color: $backgdColorButtonRed;
  &:hover{
    background-color: lighten($backgdColorButtonRed,20);
  }
}

.btnYellow{
  background-color: $backgdColorButtonYellow;
  color: black;
  &:hover{
    background-color: lighten($backgdColorButtonYellow,20);
  }
}

.btnGreen{
  background-color: $backgdColorButtonGreen;
  &:hover{
    background-color: lighten($backgdColorButtonGreen,20);
    color: black;
  }
}

.btnFlat{
  background-color: black;
  color: white;
  border-radius: 0;
  box-shadow: none;
  &:hover{
    background-color: darkslategrey;
  }
  &:active{
    transform: translateY($translateButtonClic/2);
  }
}

.btnExtraLarge{
  width: 98%;
  font-size: 20px;
  font-weight: bold;
  display: block;
}

.btnFancy{
  background: linear-gradient(to top right, blue, green, yellow, red);
}