$backgdColorButton: #1E90FF !default;

$backgdColorButtonRed: #FF0000;
$backgdColorButtonYellow: #ffe700;
$backgdColorButtonGreen: #008000;

$translateButtonClic: 5px;

@mixin button($col, $brdRadius, $pddng,$backColor:$backgdColorButton){
  background-color: $backColor;
  color: $col;
  border-radius: $brdRadius;
  padding: $pddng;
}

.btn{
  @include button(white, 20px, 40px 80px);
  font-size: 15px;
  text-align: center;
  margin: 10px 5px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  &:hover{
    background-color: lighten($backgdColorButton,10);
  }
  &:active{
    transform: translateY($translateButtonClic);
  }
}

.btnSmall{
  @include button(white, 20px, 25px 50px);
  font-size: 10px;
}

.btnLarge{
  @include button(white, 20px, 75px 120px);
  font-size: 30px;
}

.btnRed{
  @include button(white, 20px, 40px 80px, $backgdColorButtonRed);
  &:hover{
    background-color: lighten($backgdColorButtonRed,20);
  }
}

.btnYellow{
  @include button(white, 20px, 40px 80px,$backgdColorButtonYellow);
  color: black;
  &:hover{
    background-color: lighten($backgdColorButtonYellow,20);
  }
}

.btnGreen{
  @include button(white, 20px, 40px 80px,$backgdColorButtonGreen);
  &:hover{
    background-color: lighten($backgdColorButtonGreen,20);
    color: black;
  }
}

.btnFlat{
  @include button(white, 0, 40px 80px, black);
  box-shadow: none;
  &:hover{
    background-color: darkslategrey;
  }
  &:active{
    transform: translateY($translateButtonClic/2);
  }
}

.btnExtraLarge{
  @include button(white, 20px, 75px 120px);
  width: 98%;
  font-size: 20px;
  font-weight: bold;
  display: block;
}

.btnFancy{
  @include button(white, 20px, 40px 80px);
  background: linear-gradient(to top right, blue, green, yellow, red);
  box-shadow: 5px 5px 0 #bdbdbd;
  &:hover{
    background: linear-gradient(to top right, rgba(0,0,255,0.7), rgba(0,128,0,0.7), rgba(255,255,0,0.7), rgba(255,0,0,0.7));
  }
  &:active{
    box-shadow: none;
  }
}