%menuNav{
  list-style: none;
  display: flex;
}

.navbar{
  @extend %menuNav;
  height: 50px;
  margin:0 0 40px 0;
  padding: 0;
  @media (max-width:650px){
    display: inline-block;
    width : 100%;
  }
  li{
    @extend %menuNavElem;
    @media (max-width:650px) {
      width: 98%;
      padding-top: 20px;
      height: 40px;
    }
    &:hover{
      background-color: lighten($backgdNav,40);
      color:white;
    }
  }
}

%menuNavElem{
  border : solid white 1px;
  text-align:center;
  padding-top:10px;
  width: 20%;
  min-width: 20px;
}

.disabled{
  color:white;
  background-color:$backgdNav;
}

.active{
  color: black;
  background-color: lighten($backgdNav,100);
}

.breadcrumb{
  @extend %menuNav;
  background-color: $backgdNav;
  padding: 10px;
  color: #1e6ed9;
  li{
    margin-left: 15px;
    &:hover{
      text-decoration: underline;
    }
    a{
      color: $colorBreadText;
      text-decoration: none;
    }
  }
  li+li:before{
    content: $separatorBread;
    color:white;
    padding-right: 10px;
  }
}

.pagination{
  @extend %menuNav;
  height: 50px;
  margin:40px 40%;
  a{
    text-decoration: none;
    color: $colorPagination;
  }
  li{
    @extend %menuNavElem;
    &:hover{
      background-color: lighten($backgdNav,40);
      color:white;
    }
  }
}