body{
  font-size: 17px;
  font-family: Tahoma, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
  color: black;
  font-family: Arial, sans-serif;
  font-weight: bolder;
  margin: 20px 1%;
}

h1{
  font-size: 5rem;
}

h2{
  font-size: 4.2rem;
}

h3{
  font-size: 3.5rem;
}

h4{
  font-size: 3rem;
}

h5{
  font-size: 2.5rem;
}

h6{
  font-size: 2rem;
}

h1 small, h2 small, h3 small, h4 small,
h5 small, h6 small, .subTl{
  color: #ababab;
  display: block;
  font-style: italic;
  font-weight: normal;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small{
  font-size: 0.4em;
}

h1 + .subTl{ font-size: 2rem; }
h2 + .subTl{ font-size: 1.7rem; }
h3 + .subTl{ font-size: 1.4rem; }
h4 + .subTl{ font-size: 1.2rem; }
h5 + .subTl{ font-size: 1rem; }
h6 + .subTl{ font-size: 0.8rem; }

p{
  margin-bottom: 10px;
  padding: 5px;
}

mark{
  background-color: yellow;
}

del, ins{
  font-style: italic;
}

del{
  color: red;
  text-decoration: line-through red;
}

ins{
  color: green;
  text-decoration: underline green;
}

u{
  text-decoration: underline;
}

strong{
  font-weight: bold;
}

em{
  font-weight: bolder;
  text-decoration: underline double;
}

abbr{
  text-decoration: underline dotted;
}

.alignRight{
  text-align: right;
}

.alignLeft{
  text-align: left;
}

.alignCenter{
  text-align: center;
}

.alignJustify{
  text-align: justify;
}

.uppercase{
  text-transform: uppercase;
}

.lowercase{
  text-transform: lowercase;
}

ul{
  padding-left: 30px;
  padding-bottom: 10px;
  list-style-type: disc;
}

.ulSquare{
  list-style-type: square;
}

.ulWithoutDeco{
  list-style: none;
}

blockquote::before,blockquote::after{
  font-size: 20px;
  vertical-align: -6px;
}

blockquote::before {
  content: "\201C";
  margin-right: 5px;
}

blockquote::after {
  content: "\201D";
}

blockquote, code, pre{
  font-size: 15px;
  margin: 10px 50px;
}

blockquote{
  font-style:italic;
}

code{
  font-family: "Courier New",Consolas;
  background-color: black;
  color:white;
  display: block;
  padding : 20px;
}

pre{
  color: blue;
}

kbd{
  border: solid black 2px;
  padding: 4px;
  font-size: 12px;
  margin: 0 5px;

}

table{
  border: 4px solid black;
  margin: 20px;
  width: 90%;
  text-align: center;
}

td, th{
  border: 2px solid black;
}

th{
  padding:10px;
  background-color: dodgerblue;
  font-size: 18px;
}

td{
  padding:10px;
  font-size: 16px;
}

tr{
  border: solid black;
}

.alternateTable tr:nth-child(2n){
  background-color: red;
}

.hoverLine:hover{
  background-color: gray;
  color:white;
  font-size:17px;
}

.notCompleteTable, .notCompleteTable th, .notCompleteTable tr{
  border-top: none;
}

.notCompleteTable, .notCompleteTable td, .notCompleteTable tr{
  border-bottom: none;
}

.notCompleteTable, .notCompleteTable td, .notCompleteTable tr, .notCompleteTable th{
  border-right: none;
  border-left: none;
}