$fontSize: 17px;
$fontSizeSubT: 0.4em;
$beforeQuotes: "\201C";
$afterQuotes: "\201D";

body{
  font-size: $fontSize;
  font-family: Tahoma, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
  color: black;
  font-family: Arial, sans-serif;
  font-weight: bolder;
  margin: 20px 1%;
}

h1{
  font-size: 5rem;
  small{
    @extend .subTl;
    font-size: $fontSizeSubT;
  }
}

h2{
  font-size: 4.2rem;
  small{
    @extend .subTl;
    font-size: $fontSizeSubT;
  }
}

h3{
  font-size: 3.5rem;
  small{
    @extend .subTl;
    font-size: $fontSizeSubT;
  }
}

h4{
  font-size: 3rem;
  small{
    @extend .subTl;
    font-size: $fontSizeSubT;
  }
}

h5{
  font-size: 2.5rem;
  small{
    @extend .subTl;
    font-size: $fontSizeSubT;
  }
}

h6{
  font-size: 2rem;
  small{
    @extend .subTl;
    font-size: $fontSizeSubT;
  }
}

.subTl{
  color: #ababab;
  display: block;
  font-style: italic;
  font-weight: normal;
}

h1 + .subTl{ font-size: 2rem; }
h2 + .subTl{ font-size: 1.7rem; }
h3 + .subTl{ font-size: 1.4rem; }
h4 + .subTl{ font-size: 1.2rem; }
h5 + .subTl{ font-size: 1rem; }
h6 + .subTl{ font-size: 0.8rem; }

p{
  margin-bottom: 10px;
  padding: 5px;
}

mark{
  background-color: yellow;
}

%delIns{
  font-style: italic;
}

del{
  @extend %delIns;
  color: red;
  text-decoration: line-through red;
}

ins{
  @extend %delIns;
  color: green;
  text-decoration: underline green;
}

u{
  text-decoration: underline;
}

strong{
  font-weight: bold;
}

em{
  font-weight: bolder;
  text-decoration: underline double;
}

abbr{
  text-decoration: underline dotted;
}

.alignRight{
  text-align: right;
}

.alignLeft{
  text-align: left;
}

.alignCenter{
  text-align: center;
}

.alignJustify{
  text-align: justify;
}

.uppercase{
  text-transform: uppercase;
}

.lowercase{
  text-transform: lowercase;
}

ul{
  padding-left: 30px;
  padding-bottom: 10px;
  list-style-type: disc;
}

.ulSquare{
  list-style-type: square;
}

.ulWithoutDeco{
  list-style: none;
}

%symbolAroundSize{
  font-size: 20px;
  vertical-align: -6px;
}

%quotes{
  font-size: 15px;
  margin: 10px 50px;
}

blockquote{
  @extend %quotes;
  font-style:italic;
  &:before{
    @extend %symbolAroundSize;
    content: $beforeQuotes;
    margin-right: 5px;
  }
  &:after {
    @extend %symbolAroundSize;
    content: $afterQuotes;
  }
}

code{
  @extend %quotes;
  font-family: "Courier New",Consolas;
  background-color: black;
  color:white;
  display: block;
  padding : 20px;
}

pre{
  @extend %quotes;
  color: blue;
}

kbd{
  border: solid black 2px;
  padding: 4px;
  font-size: 12px;
  margin: 0 5px;

}